flows/Default-IoTStarter.flow
[{"id":"3e77d543.c1882a","type":"ibmiot in","z":"36e71e7.58036e2","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"0ca891e7bb86","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":100,"y":400,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8"]]},{"id":"ae0082ac.51ff8","type":"function","z":"36e71e7.58036e2","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":290,"y":400,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"36e71e7.58036e2","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":450,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"36e71e7.58036e2","name":"cpu status","active":true,"complete":"false","x":790,"y":400,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"36e71e7.58036e2","name":"device data","active":false,"console":"false","complete":"true","x":310,"y":480,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"36e71e7.58036e2","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":610,"y":380,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"36e71e7.58036e2","name":"danger","template":"Temperature ({{payload}}) critical","x":620,"y":420,"wires":[["5dad02b7.a252fc","ac6d439.61f65c"]]},{"id":"cbe1a0b7.cd877","type":"ibmiot out","z":"36e71e7.58036e2","authentication":"apiKey","apiKey":"d5c7742a.a9df1","outputType":"evt","deviceId":"432d660e17ce","deviceType":"iotqs-sensor","eventCommandType":"update","format":"json","data":"msg.payload","qos":"","name":"Send to IBM IoT Platform","service":"registered","x":570,"y":120,"wires":[]},{"id":"5917a925.6a3c08","type":"inject","z":"36e71e7.58036e2","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[["6b4a591c.014b18"]]},{"id":"6b4a591c.014b18","type":"function","z":"36e71e7.58036e2","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["805c97ee.3ed9e8"]]},{"id":"805c97ee.3ed9e8","type":"debug","z":"36e71e7.58036e2","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":560,"y":180,"wires":[]},{"id":"86df0b6c.af90c8","type":"comment","z":"36e71e7.58036e2","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":100,"y":40,"wires":[]},{"id":"141b7c7.ad42a84","type":"comment","z":"36e71e7.58036e2","name":"1. Configure target","info":"","x":550,"y":80,"wires":[]},{"id":"c2dd8ed5.7dd7f","type":"comment","z":"36e71e7.58036e2","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":160,"wires":[]},{"id":"7926c7b2.86d938","type":"comment","z":"36e71e7.58036e2","name":"Temperature Monitor","info":"","x":110,"y":300,"wires":[]},{"id":"188a5e87.e775a1","type":"comment","z":"36e71e7.58036e2","name":"Configure source","info":"","x":100,"y":360,"wires":[]},{"id":"ac6d439.61f65c","type":"delay","z":"36e71e7.58036e2","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":630,"y":520,"wires":[["2c522d1.d734b52"]]},{"id":"4f676dba.ec2044","type":"start virtual device","z":"36e71e7.58036e2","name":"","deviceId":"john","schema":"5d8a5961.ecdb48","outputs":1,"x":105.55561828613281,"y":75.55550384521484,"wires":[["abfcd90c.6f6878","6b4a591c.014b18"]]},{"id":"abfcd90c.6f6878","type":"debug","z":"36e71e7.58036e2","name":"","active":true,"console":"false","complete":"false","x":411.111083984375,"y":37.777618408203125,"wires":[]},{"id":"2c522d1.d734b52","type":"twilio out","z":"36e71e7.58036e2","service":"_ext_","twilio":"d377e251.ece59","from":"","number":"1-602-770-7878","name":"","x":820,"y":520,"wires":[]},{"id":"d5c7742a.a9df1","type":"ibmiot","z":"","name":"","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"5d8a5961.ecdb48","type":"Device Schema","z":"","deviceType":"walicki","props":[],"evts":[]},{"id":"d377e251.ece59","type":"twilio-api","z":"","sid":"ACc662d8bec298af6e95e6e4194cf7ce3b","from":"551-222-6866 ","name":""}]
