flows/SentimentLED.flow
[{"id":"cd5a0dfa.723468","type":"ibmiot in","z":"c0ca1793.8b546","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"63014eee.a6d92","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":40,"wires":[["c7337ed9.d69718","fc323ce6.bb8cc8"]]},{"id":"c7337ed9.d69718","type":"debug","z":"c0ca1793.8b546","name":"","active":false,"console":"false","complete":"payload.d.sentiment","x":330,"y":40,"wires":[]},{"id":"fc323ce6.bb8cc8","type":"switch","z":"c0ca1793.8b546","name":"Switch on msg.payload.d.sentiment","property":"payload.d.sentiment","propertyType":"msg","rules":[{"t":"null"},{"t":"gt","v":"6","vt":"num"},{"t":"gte","v":"4","vt":"num"},{"t":"gte","v":"2","vt":"num"},{"t":"gte","v":"0","vt":"num"},{"t":"lte","v":"-6","vt":"num"},{"t":"lte","v":"-4","vt":"num"},{"t":"lte","v":"-2","vt":"num"},{"t":"lt","v":"0","vt":"num"}],"checkall":"false","outputs":9,"x":190,"y":240,"wires":[[],["c4c0c3b6.04cd08"],["de03918d.f25c28"],["9bd308c6.579d8"],["a75cdbc9.9230d8"],["4ec87fac.0925"],["bfe47507.bbfd78"],["1a80068f.48bea1"],["3ccd401c.6c89f8"]]},{"id":"c4c0c3b6.04cd08","type":"function","z":"c0ca1793.8b546","name":"Green..","func":"msg.payload = \"*,*,green\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["5eef8bc2.e017a4"]]},{"id":"4ec87fac.0925","type":"function","z":"c0ca1793.8b546","name":"Violet....","func":"msg.payload = \"*,*,violet\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["5eef8bc2.e017a4"]]},{"id":"bfe47507.bbfd78","type":"function","z":"c0ca1793.8b546","name":"Red......","func":"msg.payload = \"*,*,red\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["5eef8bc2.e017a4"]]},{"id":"1a80068f.48bea1","type":"function","z":"c0ca1793.8b546","name":"Orange","func":"msg.payload = \"*,*,orange\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["5eef8bc2.e017a4"]]},{"id":"de03918d.f25c28","type":"function","z":"c0ca1793.8b546","name":"Blue....","func":"msg.payload = \"*,*,blue\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["5eef8bc2.e017a4"]]},{"id":"3ccd401c.6c89f8","type":"function","z":"c0ca1793.8b546","name":"Yellow..","func":"msg.payload = \"*,*,yellow\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["5eef8bc2.e017a4"]]},{"id":"a75cdbc9.9230d8","type":"function","z":"c0ca1793.8b546","name":"White...","func":"msg.payload = \"*,*,white\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["5eef8bc2.e017a4"]]},{"id":"9bd308c6.579d8","type":"function","z":"c0ca1793.8b546","name":"Pink.....","func":"msg.payload = \"*,*,pink\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["5eef8bc2.e017a4"]]},{"id":"5eef8bc2.e017a4","type":"rpi-sensehat out","z":"c0ca1793.8b546","name":"","x":710,"y":240,"wires":[]}]
