flows/twitter-sentiment.flow
[{"id":"ae0082ac.51ff8","type":"function","z":"4d807a08.a25a74","name":"temp","func":"return {payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["ff6ad0d9.00953"]]},{"id":"ff6ad0d9.00953","type":"switch","z":"4d807a08.a25a74","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"32","vt":"str"},{"t":"gt","v":"32","vt":"str"}],"checkall":"true","outputs":2,"x":450,"y":400,"wires":[["80621eff.7f9de"],["8e1706a.f71e8f8"]]},{"id":"5dad02b7.a252fc","type":"debug","z":"4d807a08.a25a74","name":"cpu status","active":false,"complete":"false","x":790,"y":400,"wires":[]},{"id":"c0c482df.3f3b8","type":"debug","z":"4d807a08.a25a74","name":"device data","active":false,"console":"false","complete":"true","x":310,"y":480,"wires":[]},{"id":"80621eff.7f9de","type":"template","z":"4d807a08.a25a74","name":"safe","template":"Temperature ({{payload}}) within safe limits","x":610,"y":380,"wires":[["5dad02b7.a252fc"]]},{"id":"8e1706a.f71e8f8","type":"template","z":"4d807a08.a25a74","name":"danger","template":"Temperature ({{payload}}) critical","x":620,"y":420,"wires":[["5dad02b7.a252fc"]]},{"id":"fd1d2f49.bd5e38","type":"sentiment","z":"4d807a08.a25a74","name":"","x":460,"y":120,"wires":[["caf7d29d.834b58","25b29977.fec386"]]},{"id":"25b29977.fec386","type":"function","z":"4d807a08.a25a74","name":"Device Payload","func":"// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"sentiment\" : msg.sentiment.score\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["816a3c99.9d03a8","595dd89c.39597"]]},{"id":"caf7d29d.834b58","type":"debug","z":"4d807a08.a25a74","name":"","active":true,"console":"false","complete":"sentiment.score","x":680,"y":120,"wires":[]},{"id":"816a3c99.9d03a8","type":"debug","z":"4d807a08.a25a74","name":"Debug output payload","active":false,"console":"false","complete":"payload","x":560,"y":280,"wires":[]},{"id":"595dd89c.39597","type":"ibmiot out","z":"4d807a08.a25a74","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"63014eee.a6d92","deviceType":"0.15.2","eventCommandType":"tweets","format":"json","data":"msg.payload","qos":0,"name":"Send to IBM IoT Platform","service":"quickstart","x":650,"y":220,"wires":[]},{"id":"3e77d543.c1882a","type":"ibmiot in","z":"4d807a08.a25a74","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"63014eee.a6d92","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":100,"y":400,"wires":[["ae0082ac.51ff8","c0c482df.3f3b8"]]},{"id":"188a5e87.e775a1","type":"comment","z":"4d807a08.a25a74","name":"Configure source","info":"","x":100,"y":360,"wires":[]},{"id":"4379ccc7.90c6f4","type":"twitter in","z":"4d807a08.a25a74","twitter":"","tags":"#WatsonDevConf","user":"false","name":"","topic":"tweets","inputs":1,"x":90,"y":40,"wires":[["4e024be0.5a12c4","66b1f204.ff666c"]]},{"id":"4e024be0.5a12c4","type":"debug","z":"4d807a08.a25a74","name":"","active":false,"console":"false","complete":"tweet","x":260,"y":40,"wires":[]},{"id":"66b1f204.ff666c","type":"function","z":"4d807a08.a25a74","name":"Extract msg.tweet.text","func":"return {payload:msg.tweet.text};","outputs":1,"noerr":0,"x":260,"y":120,"wires":[["fd1d2f49.bd5e38"]]}]
