flows/Weather-local.flow
[{"id":"b36c5ff.cf86fa","type":"function","z":"6273c510.ea6e04","name":"Format Weather Report","func":"// The following message properties can be used \n// to customise the appearance of the LED\n//  msg.color - the colour of the text, default: white\n//   msg.background - the colour of the background, default: off\n//  msg.speed - the scroll speed. A value in the range 1 (slower) to 5 (faster), default: 3\nmsg.speed = 1;\n\nif (typeof msg.payload.d.temp !== 'undefined') {\n    // the variable is defined\n    msg.payload = 'Ridgewood Temp: '+msg.payload.d.temp+'*F';\n    return msg;\n}\n\n","outputs":"1","noerr":0,"x":290,"y":140,"wires":[["7dbd4d2a.f451c4","7c147450.6c0bd4"]]},{"id":"99549416.cf7f38","type":"debug","z":"6273c510.ea6e04","name":"","active":false,"console":"false","complete":"false","x":470,"y":60,"wires":[]},{"id":"7dbd4d2a.f451c4","type":"rpi-sensehat out","z":"6273c510.ea6e04","name":"Display Weather Conditions on SenseHAT LED","x":370,"y":220,"wires":[]},{"id":"7c147450.6c0bd4","type":"debug","z":"6273c510.ea6e04","name":"","active":true,"console":"false","complete":"false","x":530,"y":140,"wires":[]},{"id":"cd73194.74a48e8","type":"ibmiot in","z":"6273c510.ea6e04","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"63014eee.a6d92","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":60,"wires":[["99549416.cf7f38","b36c5ff.cf86fa"]]}]
