flows/Weather-Bluemix.flow
[{"id":"3a2047d5.87ef28","type":"inject","z":"8742fae2.9217e","name":"Query Weather every 5 min","topic":"","payload":"true","payloadType":"bool","repeat":"300","crontab":"","once":true,"x":180,"y":40,"wires":[["33029ac2.7d0cd6"]]},{"id":"33029ac2.7d0cd6","type":"weather_insights","z":"8742fae2.9217e","name":"Get Current Weather","service":"/observations.json","geocode":"40.9793,-74.1165","units":"e","language":"en-US","x":140,"y":120,"wires":[["8047bcff.8a34b","1d7f4701.4668b1","9df52389.0c58"]]},{"id":"72b5a15b.1cbc7","type":"ibmiot out","z":"8742fae2.9217e","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"","deviceType":"0.15.2","eventCommandType":"weather","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"quickstart","x":800,"y":60,"wires":[]},{"id":"9df52389.0c58","type":"debug","z":"8742fae2.9217e","name":"","active":true,"console":"false","complete":"observation","x":430,"y":180,"wires":[]},{"id":"8047bcff.8a34b","type":"function","z":"8742fae2.9217e","name":"Construct IoT MQTT payload","func":"return {\n payload: {\n d: {\n temp: msg.observation.temp\n }\n }\n};","outputs":1,"noerr":0,"x":460,"y":60,"wires":[["7fbdd1d6.a2919","1b3f6bc4.183b14"]]},{"id":"1d7f4701.4668b1","type":"function","z":"8742fae2.9217e","name":"Temp in Ridgewood","func":"return { payload:'Ridgewood Temp: '+msg.observation.temp+'*F'};","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["1b3f6bc4.183b14"]]},{"id":"1b3f6bc4.183b14","type":"debug","z":"8742fae2.9217e","name":"","active":true,"console":"false","complete":"false","x":770,"y":120,"wires":[]},{"id":"7fbdd1d6.a2919","type":"json","z":"8742fae2.9217e","name":"","x":650,"y":60,"wires":[["72b5a15b.1cbc7"]]}]
